Nota: Hay que cargar los datos rs_datosfinal.csv y test_final.csv manualmente.

# Cargamos los datos

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df_nuevo=pd.read_csv(r"/content/sample_data/rs_datosfinal.csv", sep=',',encoding='utf-8', engine ="python" )
test_nuevo = pd.read_csv(r"/content/sample_data/test_final.csv", sep=',',encoding='utf-8', engine ="python" )

In [ ]:
test_nuevo.head()

,Usuario,Opinion,Gender,Type,Location,Place,MeanLabel,GlobalLabel,info_lugar,Description
0,Usuario1847,stayed penticton work march 12th happy stay. l...,1.0,0.0,0.0,The Jazz Foundation,4,4,Recurrimos al Jazz al arte y la cultura como l...,2
1,Usuario600,atencion todo equipo labora las instalaciones ...,0.0,3.0,1.0,Islas Marietas,5,4,El Parque Nacional Islas Marietas son dos isla...,1
2,Usuario687,ostello bello grande quite simple without comp...,1.0,3.0,0.0,Islas Marietas,5,5,El Parque Nacional Islas Marietas son dos isla...,1
3,Usuario1219,desconocido para haber sido primera vez visité...,1.0,0.0,1.0,Islas Marietas,4,4,El Parque Nacional Islas Marietas son dos isla...,1
4,Usuario1835,ostello bello grande quite simple without comp...,0.0,0.0,1.0,Splash Water Park,5,5,Precios increíbles y sin cargos. Ahorra. La má...,1

In [ ]:
df_nuevo.head()

,Usuario,Opinion,Gender,Type,Label,Location,Place,MeanLabel,GlobalLabel,info_lugar,Description
0,Usuario1617,"siempre ha agradado comida este lugar, atenció...",0,0,3,1,Mercado del Pueblo Sayulita,4,4,Desde 2009 el Mercado del Pueblo el mercado de...,2
1,Usuario1867,got home 2 weeks puntarena. hotel good value! ...,0,0,5,0,Playa Los Muertos,5,4,En Puerto Vallarta cerca del Río Cuale a unos ...,1
2,Usuario1038,siempre hay gente sonriente dispuesta ayudar t...,0,3,4,0,Islas Marietas,5,4,El Parque Nacional Islas Marietas son dos isla...,1
3,Usuario1000,friend celebrated mother's day barcelona tapas...,0,3,3,0,Islas Marietas,5,5,El Parque Nacional Islas Marietas son dos isla...,1
4,Usuario1210,llegamos al hotel día domingo estuvimos una se...,1,3,4,0,Islas Marietas,5,4,El Parque Nacional Islas Marietas son dos isla...,1

In [ ]:
test_nuevo.head()

,Usuario,Opinion,Gender,Type,Location,Place,MeanLabel,GlobalLabel,info_lugar,Description
0,Usuario1847,stayed penticton work march 12th happy stay. l...,1.0,0.0,0.0,The Jazz Foundation,4,4,Recurrimos al Jazz al arte y la cultura como l...,2
1,Usuario600,atencion todo equipo labora las instalaciones ...,0.0,3.0,1.0,Islas Marietas,5,4,El Parque Nacional Islas Marietas son dos isla...,1
2,Usuario687,ostello bello grande quite simple without comp...,1.0,3.0,0.0,Islas Marietas,5,5,El Parque Nacional Islas Marietas son dos isla...,1
3,Usuario1219,desconocido para haber sido primera vez visité...,1.0,0.0,1.0,Islas Marietas,4,4,El Parque Nacional Islas Marietas son dos isla...,1
4,Usuario1835,ostello bello grande quite simple without comp...,0.0,0.0,1.0,Splash Water Park,5,5,Precios increíbles y sin cargos. Ahorra. La má...,1

In [ ]:
df_nuevo.tail()

,Usuario,Opinion,Gender,Type,Label,Location,Place,MeanLabel,GlobalLabel,info_lugar,Description
917,Usuario809,went family great food happy went sat immediat...,1,1,5,0,Islas Marietas,5,4,El Parque Nacional Islas Marietas son dos isla...,1
918,Usuario40,"impressed whole flight, extra seats move us ar...",1,0,5,0,Bucerias Art Walk,4,4,Hogar de uno de los paseos artísticos más sing...,2
919,Usuario1499,ostello bello grande quite simple without comp...,0,2,5,0,Manantial La Tovara,5,5,La Tovara es un manantial ubicado en el munici...,1
920,Usuario1205,ostello bello grande quite simple without comp...,0,3,5,1,Islas Marietas,5,5,El Parque Nacional Islas Marietas son dos isla...,1
921,Usuario471,lugar se encuentra una una zona industrial ren...,1,0,5,1,Islas Marietas,4,4,El Parque Nacional Islas Marietas son dos isla...,1

# 1st RUN

En esta estretegia concatenamos los textos [opinion,place, info_lugar], hacemos BOW con pesado binario del texto resultante, luego concatenamos con las otras variables categóricas. Finalmente pasamos por un clasificador.

In [ ]:
#Concatenación del texto
text = df_nuevo['Opinion']+' '+df_nuevo['Place']+' '+df_nuevo['info_lugar']
text = pd.DataFrame(text, columns=['Text'])

Concatenamos el texto con las variables numéricas

In [ ]:
df=pd.concat([text['Text'],df_nuevo[['Gender', 'Type', 'Label', 'Location','MeanLabel','GlobalLabel','Description']]],axis=1)

In [ ]:
df.head()

,Text,Gender,Type,Label,Location,MeanLabel,GlobalLabel,Description
0,"siempre ha agradado comida este lugar, atenció...",0,0,3,1,4,4,2
1,got home 2 weeks puntarena. hotel good value! ...,0,0,5,0,5,4,1
2,siempre hay gente sonriente dispuesta ayudar t...,0,3,4,0,5,4,1
3,friend celebrated mother's day barcelona tapas...,0,3,3,0,5,5,1
4,llegamos al hotel día domingo estuvimos una se...,1,3,4,0,5,4,1

Ahora para test:

In [ ]:
#Concatenación del texto
text2 = test_nuevo['Opinion']+' '+test_nuevo['Place']+' '+test_nuevo['info_lugar']
text2 = pd.DataFrame(text2, columns=['Text'])

In [ ]:
df_test=pd.concat([text2['Text'],test_nuevo[['Gender', 'Type', 'Location','MeanLabel','GlobalLabel','Description']]],axis=1)

In [ ]:
df_test.head()

,Text,Gender,Type,Location,MeanLabel,GlobalLabel,Description
0,stayed penticton work march 12th happy stay. l...,1.0,0.0,0.0,4,4,2
1,atencion todo equipo labora las instalaciones ...,0.0,3.0,1.0,5,4,1
2,ostello bello grande quite simple without comp...,1.0,3.0,0.0,5,5,1
3,desconocido para haber sido primera vez visité...,1.0,0.0,1.0,4,4,1
4,ostello bello grande quite simple without comp...,0.0,0.0,1.0,5,5,1

##BOW

Ahora creamos los BOWS

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import normalize
from sklearn.metrics import accuracy_score,precision_score, recall_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.feature_selection import SelectKBest, chi2
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, precision_recall_fscore_support, roc_auc_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error

In [ ]:
#Quitamos la columna target 
df2=df.drop(columns=['Label'])

In [ ]:
X_train = df2
y_train = df['Label']
X_test = df_test

In [ ]:
np.argwhere(np.isnan(X_test))

array([[   59, 20891],
       [  203, 20891],
       [  218, 20891],
       [  276, 20891],
       [  300, 20891],
       [  317, 20891],
       [  367, 20891],
       [  434, 20891],
       [  448, 20891],
       [  546, 20891]])

In [ ]:
np.shape(X_test)

(587, 20895)

In [ ]:
for x in np.argwhere(np.isnan(X_test[:,20890])):
  X_test[x,20890]=0
for x in np.argwhere(np.isnan(X_test[:,20891])):
  X_test[x,20891]=0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df2,df['Label'], test_size=0.1)
print('X_train',X_train.shape)
print('X_test',X_test.shape)

X_train (829, 7)
X_test (93, 7)

In [ ]:
type(X_test)

pandas.core.frame.DataFrame

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
bow_vec = TfidfVectorizer(lowercase=True)

In [ ]:
#bow de texto
bow_train=bow_vec.fit_transform(X_train['Text']).toarray()
bow_test=bow_vec.transform(X_test['Text']).toarray()

In [ ]:
#Concatenamos con las otras variables
X_train=np.concatenate([bow_train,np.array(X_train.loc[:, X_train.columns != 'Text'])], axis = 1)
X_test=np.concatenate([bow_test,np.array(X_test.loc[:, X_test.columns != 'Text'])], axis = 1)

In [ ]:
type(X_train)

numpy.ndarray

## Clasificadores.

### RandomForest

In [ ]:
#Clasificador RandomForest
cls=RandomForestClassifier(random_state=2)
cls.fit(X_train,y_train)

RandomForestClassifier(random_state=2)

In [ ]:
y_pred=cls.predict(X_test)

In [ ]:
*_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred, average='weighted',zero_division=0)
print('f1-score:',fbeta_score)
print('MAE:',mean_absolute_error(y_test, y_pred))

f1-score: 0.3547585853244235
MAE: 0.8494623655913979

### Procesos Gaussianos.

In [ ]:
from sklearn.gaussian_process import GaussianProcessClassifier

In [ ]:
#Ahora probamos con procesos gaussianos
model = GaussianProcessClassifier(random_state=2)
model.fit(X_train,y_train)

GaussianProcessClassifier(random_state=2)

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
y_pred=pd.DataFrame(y_pred)
y_pred.to_csv(r'predictions_gaussianProcess.txt', header=None, index=None, sep='\t', mode='a')

Tabla Final

In [ ]:
user = pd.DataFrame(np.zeros((len(y_pred), 1)))
user.columns = ['user']
user = user.replace([0],['Usuario'])
number = []
for i in range(len(y_pred)):
  number.append(str(i+1))
user = user['user']+number
user.head()

0    Usuario1
1    Usuario2
2    Usuario3
3    Usuario4
4    Usuario5
Name: user, dtype: object

In [ ]:
taskname = pd.DataFrame(np.zeros((len(y_pred), 1)))
taskname.columns = ['TaskName']
taskname = taskname.replace([0],['recommendation'])

In [ ]:
final_data = pd.concat([taskname, test_nuevo['Usuario'], y_pred], axis=1)
final_data.columns = ['TaskName', 'Usuario', 'Label']
final_data.head()

         TaskName      Usuario  Label
0  recommendation  Usuario1847      4
1  recommendation   Usuario600      5
2  recommendation   Usuario687      5
3  recommendation  Usuario1219      5
4  recommendation  Usuario1835      5

In [ ]:
final_data.to_csv(r'gaussian_pred_Erika_Cipri2.txt', header=None, index=None, sep='\t', line_terminator ='\n', mode='a')

In [ ]:
y_pred=model.predict(X_test)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred))

0.3416814833629667
0.8279569892473119

In [ ]:
from sklearn.ensemble import AdaBoostClassifier,RandomForestClassifier
from xgboost.sklearn import XGBClassifier

### AdaBoost

In [ ]:
#Ahora probamos con procesos gaussianos
model = AdaBoostClassifier(random_state=2)
model.fit(X_train,y_train)

AdaBoostClassifier(random_state=2)

In [ ]:
y_pred=model.predict(X_test)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred))

0.35218600731750305
0.9354838709677419

### XGBoost

In [ ]:
#Ahora probamos con procesos gaussianos
model = XGBClassifier(random_state=2)
model.fit(X_train,y_train)

XGBClassifier(objective='multi:softprob', random_state=2)

In [ ]:
y_pred=model.predict(X_test)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred))

0.35492612990646033
0.8709677419354839

### Elastic Net

In [ ]:
from sklearn.linear_model import ElasticNet

# Create a classifier object 
classifier = ElasticNet(alpha=0.01, l1_ratio=0.9, selection='random', random_state=42)

#Entrenamos
classifier.fit(X_train,y_train)

ElasticNet(alpha=0.01, l1_ratio=0.9, random_state=42, selection='random')

In [ ]:
y_pred=classifier.predict(X_test)
y_pred=np.rint(y_pred)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred))

0.28104745958466815
0.8172043010752689

### Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

model.fit(X_train,y_train)

GaussianNB()

In [ ]:
y_pred_2=model.predict(X_test)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred_2, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred))

0.3788291146285537
0.8172043010752689

### ExtraTree Regressor

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor

model = ExtraTreesRegressor(random_state=2)
model.fit(X_train,y_train)

ExtraTreesRegressor(random_state=2)

In [ ]:
y_pred=model.predict(X_test)
y_pred=np.rint(y_pred)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred))

0.3435291222685226
0.8602150537634409

## MLP

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
model= MLPClassifier(random_state=2)

In [ ]:
model.fit(X_train,y_train)

In [ ]:
y_pred=model.predict(X_test)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred))

#2nd run

En esta segunda estrategia, hacemos bow para cada una de las siguientes columnas de texto: opinion, place e info lugar, las matrices obtenidas son concatenadas con las otras variables categóricas y finalmente se pasan por un clasificador.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import normalize
from sklearn.metrics import accuracy_score,precision_score, recall_score, f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.feature_selection import SelectKBest, chi2
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, precision_recall_fscore_support, roc_auc_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error

BOW TFIDF

In [ ]:
bow_vec=CountVectorizer(ngram_range=(2,2))

In [ ]:
#bow de opiniones
bow1=bow_vec.fit_transform(df_nuevo['Opinion']).toarray()

In [ ]:
bow1.shape

(922, 126948)

In [ ]:
#bow de place
bow2=bow_vec.fit_transform(df_nuevo['Place']).toarray()

In [ ]:
bow2.shape

(922, 27)

In [ ]:
#bow info_lugar
bow3=bow_vec.fit_transform(df_nuevo['info_lugar']).toarray()

In [ ]:
bow3.shape

(922, 589)

In [ ]:
df_nuevo.keys()

Index(['Usuario', 'Opinion', 'Gender', 'Type', 'Label', 'Location', 'Place',
       'MeanLabel', 'GlobalLabel', 'info_lugar', 'Description'],
      dtype='object')

In [ ]:
#Creamos la matriz de datos
train_df=df_nuevo.drop(columns=['Usuario', 'Opinion','Place','info_lugar'])

In [ ]:
train_df=train_df.to_numpy()

In [ ]:
train_df.shape

(922, 7)

In [ ]:
bow1.shape

(922, 126948)

In [ ]:
bow2.shape

(922, 27)

In [ ]:
bow3.shape

(922, 589)

In [ ]:
train_df=np.concatenate([train_df,bow1,bow2, bow3], axis=1)

In [ ]:
train_df.shape

(922, 127571)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train_df,df_nuevo['Label'], test_size=0.2)

In [ ]:
print(X_train.shape)
print(y_train.shape)

(737, 127571)
(737,)

In [ ]:
print(X_test.shape)
print(y_test.shape)

(185, 127571)
(185,)

In [ ]:
np.argwhere(np.isnan(X_train))

array([], shape=(0, 2), dtype=int64)

In [ ]:
#Ponemos 0 en los nan
X_train[np.argwhere(np.isnan(X_train))]=0
X_test[np.argwhere(np.isnan(X_test))]=0

### RandomForest

In [ ]:
#Clasificador RandomForest
cls=RandomForestClassifier(random_state=2)
cls.fit(X_train,y_train)

RandomForestClassifier(random_state=2)

In [ ]:
y_pred=model.predict(X_test)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred))

### Procesos Gaussianos.

In [ ]:
from sklearn.gaussian_process import GaussianProcessClassifier

In [ ]:
#Ahora probamos con procesos gaussianos
model = GaussianProcessClassifier(random_state=2)
model.fit(X_train,y_train)

GaussianProcessClassifier(random_state=2)

In [ ]:
y_pred=model.predict(X_test)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred))

0.7050615425631636
0.3837837837837838

In [ ]:
from sklearn.ensemble import AdaBoostClassifier,RandomForestClassifier
from xgboost.sklearn import XGBClassifier

AdaBoost

In [ ]:
#Ahora probamos con procesos gaussianos
model = AdaBoostClassifier(random_state=2)
model.fit(X_train,y_train)

AdaBoostClassifier(random_state=2)

In [ ]:
y_pred_=model.predict(X_test)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred_, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred_))

0.8251373324544055
0.15135135135135136

XGBoost

In [ ]:
#Ahora probamos con procesos gaussianos
model = XGBClassifier(random_state=2)
model.fit(X_train,y_train)

XGBClassifier(objective='multi:softprob', random_state=2)

In [ ]:
y_pred_2=model.predict(X_test)

In [ ]:
y_pred_2=pd.DataFrame(y_pred_2)

In [ ]:
final_data = pd.concat([taskname, test_nuevo['Usuario'], y_pred_2], axis=1)
final_data.columns = ['TaskName', 'Usuario', 'Label']
final_data.head()

         TaskName      Usuario  Label
0  recommendation  Usuario1847      4
1  recommendation   Usuario600      5
2  recommendation   Usuario687      5
3  recommendation  Usuario1219      5
4  recommendation  Usuario1835      5

In [ ]:
final_data.to_csv(r'XGBoost_pred_Erika_Cipri.txt', header=None, index=None, sep='\t', line_terminator ='\n', mode='a')

In [ ]:
y_pred_2=model.predict(X_test)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred_2, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred_2))

1.0
0.0

## MLP

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
model= MLPClassifier(random_state=2)

In [ ]:
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:699: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

MLPClassifier(random_state=2)

In [ ]:
y_pred=model.predict(X_test)
_,_,fbeta_score,_=precision_recall_fscore_support(y_test, y_pred, average='weighted',zero_division=0)
print(fbeta_score)
print(mean_absolute_error(y_test, y_pred))

0.6771692517798417
0.40540540540540543